body {
  background-color: black;
}

.schibsted-grotesk-<uniquifier> {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
  color: red;
  text-align: center;
}

p {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 20px;
}
