body {
  background-image: url(imgs/hiddenresearch.jpg);
}

.schibsted-grotesk-<uniquifier> {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
  color: orange;
  font-family: "Schibsted Grotesk", sans-serif;
}

p {
color: lightgray;
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 20px;
}
